/* CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*background-image: src(homepage.jpeg);*/
}

#header {
  background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/278020076_582860179369416_2693347287446030730_n.jpg?stp=dst-jpg_p403x403&_nc_cat=108&ccb=1-5&_nc_sid=aee45a&_nc_eui2=AeGkcTi9-HDHRti-wcekYkWVh8atCsqSSs2Hxq0KypJKzTgPSce0NZOfpJlpLRvn0b4nTK2VKFMagtHsUjByb91u&_nc_ohc=-hNNWUkuQRUAX9yY-hG&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIoKzGo--Wdgfg3j94-Yu5knSab-fhmNutw4Ay-zYgP4Q&oe=627B4CF8);
  text-align: center;
  padding: 20px;
}


/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  text-transform: #FF00FF;
}

/* Current/active navbar link */
.active {
  text-shadow: #FF80FF;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 10px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#landing-page {
	height:99vh;
	background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/277827527_1151960635653709_7106274065170005123_n.jpg?stp=dst-jpg_p403x403&_nc_cat=107&ccb=1-5&_nc_sid=aee45a&_nc_eui2=AeHUJXPwClYjQP4sL-5Ewhfv7u9ojK5aPfzu72iMrlo9_Dk98texUXP4pVZ8ln7-1wLKGaG_Fgujf6Q3DiGqszKu&_nc_ohc=nXsGUua7fwMAX8w8hK_&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVKc5tYn8rotP6QIfmEIW_YTbPsFFEKwlT9XBB8TJtd1zw&oe=627C069A);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*display:flex;*/
	/*flex-direction:column;*/
	align-items:center;
	/*background-color: #6DCCDE;*/
	/*border-image-source: image-set(homepage.jpeg);*/
}

#icon {
	width: 30px;
	height: 30px;
}

#gmap-canvas {
	height: 60vh;
	width: 100%;
}

li {
	list-style-type: none;
}